.red{
    color: white;
    background-color: red;
    text-align: center;
}
.blue{
    color: blue;
}
.center{
    text-align: center;
    border-collapse: collapse;
}
.bd{
    border: 5px solid red;
    padding: 10px;
}